
body{
	background-image: url("imagini/back_history.jpg");
	font-family: Arial;
	margin: 0;
}
.container{
	position: absolute;
	left:50%;
	top:70%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	box-shadow: 0 6px 8px rgba(0,0,0,.1);
	width: 30%;
	padding: 20px 15px;
	text-align: center;
}
.container h1{
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 2.2rem;
}
.container input{
	width: calc(100% - 16px);
	padding: 10px 8px;
	font-size: 1.2rem;
	margin-bottom: 20px;
}
.container ul{
	list-style-type: none;
 	width: 100%;
	background-color: #cfd8cd;
	margin: 0;
	padding: 0;
}
.container ul li{
	padding: 15px 0;
}
.container ul li a{
	font-size: 18px;
	color: #212121;
	text-decoration: none;
	font-family: sans-serif;
}
.container ul li a:hover{
	color: #e8eaf6;
}






#LeftSide {
 width: 35%;
 height:170px;
 background-color :	#B5BFCB;
 float:left;
 }
#Center {
 width:30%;
 height:170px;
 text-align: center;
 vertical-align;
 color: white;
 font-size: 25px;
 background-color: 	#B5BFCB;
 float:left;
 }
#Rightside {
 width:35%;
 height:170px;
 background-color: 	#B5BFCB;
 float:right;
}
#MenuExtension{
	width:100%;
	display: inline-block;
	height:100px;
	background-color: black;
}
.button{	
	border:none;
	cursor:pointer;
	color:white;
	background-color: 	#B5BFCB;
	font-size:16px;
	outline:none;
	}
.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	  }
	  
.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	  }
	  
.button:hover span {
		padding-right: 35px;
	  }
	  
.button:hover span:after {
		opacity: 1;
		right: 0;
	  }

	  .header_navigation_mobile {
		display: none;
	  }
	  .open {
		display: block;
	  }

.Menu{
	height:100px;
	list-style-type:none;
	background-color:black;
	margin-top:4px;
	padding-left:15px;
	padding-top:1px;
	}
.Menu li{
	display:inline-block;
	color: white;
	float:left;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	background-color:	#B5BFCB;
	padding:20px;
	cursor:pointer;
	}
a:link{
	text-decoration: none;
	color:white;
		
	}
a:visited{
	text-decoration: none;
	color:white;
	}
a:hover{
	color:black;
    }